asn1crypto==0.24.0
certifi==2020.6.20
cffi==1.11.5
chardet==3.0.4
configobj==5.0.6
cryptography==2.3
cycler==0.10.0
dbus-python==1.2.4
decorator==4.2.1
flake8==3.8.3
gpg==1.10.0
idna==2.5
importlib-metadata==2.0.0
kiwisolver==1.3.1
matplotlib==3.3.3
mccabe==0.6.1
netifaces==0.10.6
nftables==0.1
numpy==1.19.4
pandas==1.1.4
pciutils==2.3.6
perf==0.1
Pillow==8.0.1
ply==3.9
pycodestyle==2.6.0
pycparser==2.14
pyflakes==2.2.0
pygobject==3.28.3
pyOpenSSL==18.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dmidecode==3.12.2
python-linux-procfs==0.6
pytz==2020.4
pyudev==0.21.0
requests==2.24.0
rhnlib==2.8.6
rpm==4.14.2
schedutils==0.6
selinux==2.9
sepolicy==1.1
setools==4.2.2
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
syspurpose==1.26.20
urllib3==1.25.10
zipp==3.2.0
